FaStorageServer/Connected Services/FaExportService/FaExportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9997/FaExportService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FaExportService" />
  <xs:import schemaLocation="http://localhost:9997/FaExportService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Models" />
  <xs:element name="ExportEventsToFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FaExportService" minOccurs="0" name="exportType" type="q1:EExportFormat" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="events" nillable="true" type="q2:ArrayOfCEventInfo" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportEventsToFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>