FaStorageServer/Connected Services/FaNotificationService/FaNotificationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9998/FaNotificationService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FaNotificationService" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FaNotificationService" minOccurs="0" name="senderType" type="q1:ESenders" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FaNotificationService" minOccurs="0" name="message" nillable="true" type="q2:CMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>