FaReport/Connected Services/FaStorageService/FaStorageService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/FaStorageService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infrastructure.Models" />
  <xs:import schemaLocation="http://localhost:9999/FaStorageService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:9999/FaStorageService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" />
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="RegisterClientResult" nillable="true" type="q1:CClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="eventInfoId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindEventInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindEventInfoByIdResult" nillable="true" type="q3:CEventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllRules">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAllRulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindAllRulesResult" nillable="true" type="q4:ArrayOfCRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRulesByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRulesByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindRulesByClientIdResult" nillable="true" type="q6:ArrayOfCRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRuleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ruleId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRuleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindRuleByIdResult" nillable="true" type="q8:CRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientsWithLastDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientsWithLastDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindClientsWithLastDateResult" nillable="true" type="q9:ArrayOfCClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientInfoId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindClientInfoByIdResult" nillable="true" type="q11:CClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="computerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ipAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindClientInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="FindClientInfoResult" nillable="true" type="q12:ArrayOfCClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteEventInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="eventInfo" nillable="true" type="q13:CEventInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteEventInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WriteEventInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="eventInfo" nillable="true" type="q14:CEventInfo" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="rule" nillable="true" type="q15:CRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendNotificationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportEventsToCsv">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="events" nillable="true" type="q16:ArrayOfCEventInfo" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportEventsToCsvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportEventsToCsvResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ruleId" type="q17:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="rule" nillable="true" type="q18:CRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="rule" nillable="true" type="q19:CRule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRuleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="client" nillable="true" type="q20:CClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Infrastructure.Models" minOccurs="0" name="filter" nillable="true" type="q21:CSearchFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/System.Collections.ObjectModel" minOccurs="0" name="SearchEventsResult" nillable="true" type="q22:ReadOnlyCollectionOfCEventInfo98kFOXop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>